@page
@model AldeiaParental.Pages_PersonalDocuments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.DocumentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.DocumentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.Valid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.Valid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonalDocument.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
