@page
@model AldeiaParental.Pages_ListServiceLocations.IndexModel

@{
    ViewData["Title"] = "Locais de Atendimento";
}

<h1>Locais de Atendimento</h1>

<p>
    <a asp-page-handler="Csv">Download CSV</a> | <a asp-page="./Stats">Indicadores</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cuidador
            </th>
            <th>
                Região
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceLocation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Description)
                @(item.AtCustomerHome?"(à domicílio)":null)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
