@page
@model AldeiaParental.Pages_CheckDocuments.IndexModel

@{
    ViewData["Title"] = "Verificar Documentos";
}

<h1>Verificar Documentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].Valid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonalDocument)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Verificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
