@page
@model AldeiaParental.Pages_CheckDocuments.IndexModel

@{
    ViewData["Title"] = "Verificar Documentos";
}

<h1>Verificar Documentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Número
            </th>
            <th>
                Arquivo
            </th>
            <th>
                Verificação
            </th>
            <th>
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonalDocument)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @(item.Valid==null?"Indefinido":item.Valid==true?"Válido":"Inválido")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Verificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
