@page
@model AldeiaParental.Areas_Identity_Pages_Account_Manage_PersonalDocuments.DeleteModel

@{
    ViewData["Title"] = "Excluir Documento";
}

<h1>Excluir</h1>

<h3>Tem Certeza?</h3>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.DocumentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.DocumentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.DocumentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.Valid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.Valid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDocument.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalDocument.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonalDocument.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Listar Documentos</a>
    </form>
</div>
