@page
@model AldeiaParental.Areas_Identity_Pages_Account_Manage_PersonalDocuments.IndexModel

@{
    ViewData["Title"] = "Listar Documentos";
}

<h1>Documentos</h1>

<p>
    <a asp-page="Create">Novo Documento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].Valid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDocument[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonalDocument) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
