@page
@model AldeiaParental.Pages_Services.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page-handler="Csv">Download CSV</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cuidador
            </th>
            <th>
                Cliente
            </th>
            <th>
                Avaliação
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caregiver.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
