@page
@model AldeiaParental.Pages_Services.IndexModel

@{
    ViewData["Title"] = "Atendimentos";
}

<h1>Atendimentos</h1>

<p>
    <a asp-page-handler="Csv">Download CSV</a> | <a asp-page="./Stats">Indicadores</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cuidador
            </th>
            <th>
                Cliente
            </th>
            <th>
                Avaliação
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caregiver.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
