@page
@model AldeiaParental.Pages.Regions.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Região</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Region.Id">Editar</a> |
    <a asp-page="./Index">Listar Regiões</a>
</div>
