@page
@model AldeiaParental.Pages.FindCaregivers.IndexModel
@{
    ViewData["Title"] = "Encontrar Cuidadores";
}

<h1>Encontrar Cuidadores</h1>


    <h2>Filtros</h2>
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
                Região:
                <select name="regionId" class="form-control">
                    <option value="null" selected="@(Model.SelectedRegionId==null?true:false)">Any</option>
                    @foreach (var item in Model.RegionsList)
                    {
                        <option value="@item.Value" selected="@(item.Value==Model.SelectedRegionId.ToString())">@item.Text</option>
                    }

                </select>
                Local de Atendimento:
                <select name="atHome" class="form-control">
                    <option value="null" selected="@(Model.AtHome == null ? true : false)">Wherever</option>
                    <option value="true" selected="@(Model.AtHome != null ? ((bool)Model.AtHome?true:false) : false)">My Home</option>
                    <option value="false"selected="@(Model.AtHome != null ? ((bool)Model.AtHome?false:true) : false)">Not at my Home</option>
                </select>
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Listar sem filtros</a>
        </div>
    </form>

    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caregivers[0].FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Caregivers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.UserId">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>

