@page
@model AldeiaParental.Pages.ServiceLocations.DeleteModel

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Excluir o seguinte Local</h3>
<div>
    <h4>Local de Atendimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLocation.AtCustomerHome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceLocation.AtCustomerHome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLocation.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceLocation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLocation.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceLocation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceLocation.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceLocation.Region.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceLocation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Listar Locais</a>
    </form>
</div>
