@page
@model AldeiaParental.Pages.ServiceLocations.IndexModel

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar Locais de Atendimento</h1>

<p>
    <a asp-page="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLocation[0].AtCustomerHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLocation[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLocation[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLocation[0].Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceLocation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AtCustomerHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
