@page
@model AldeiaParental.Pages_CaregiverServices.DeleteModel

@{
    ViewData["Title"] = "Excluir";
    bool readOnly = Model.Service.Rate!=null?true:false;
}

<h1>Excluir</h1>

<h3>Tem certeza?</h3>
<div>
    <h4>Atendimento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Customer.FirstName)
        </dd>  
        <dt class="col-sm-2">
            Email Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            Avaliação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Rate)
        </dd>
        <dt class="col-sm-2">
            Meu Comentário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.CaregiverComments)
        </dd>
        <dt class="col-sm-2">
            Comentário Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.CustomerComments)
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.datetime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Service.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" readonly=@readOnly/> |
        <a asp-page="./Index">Meus Atendimentos</a>
    </form>
</div>
