@page
@model AldeiaParental.Pages_CaregiverServices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Caregiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Caregiver.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.CaregiverComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.CaregiverComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.CustomerComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.CustomerComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.datetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Service.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
