@page
@model AldeiaParental.Pages_CaregiverServices.IndexModel

@{
    ViewData["Title"] = "Meus Atendimentos";
}

<h1>Meus Atendimentos</h1>

<p>
    <a asp-page="Create">Novo Atendimento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td> <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
