@page
@model AldeiaParental.Pages_CustomerServices.IndexModel

@{
    ViewData["Title"] = (User.IsInRole("Cuidador") ? "Atendimentos Recebidos" : "Atendimentos");
}

<h1>@(User.IsInRole("Cuidador")?"Atendimentos Recebidos":"Atendimentos")</h1>

<p>
    <a asp-page="Create">Novo Atendimento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Caregiver.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Caregiver.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Service)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Caregiver.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caregiver.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datetime)
                </td>
                <td>
                    <a asp-page="./Evaluate" asp-route-id="@item.Id">Evaluate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
